<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>
	<typeAliases> <!-- 특정 클래스의 별칭(Alias)을 선언 -->
		<typeAlias alias="UserVO" type="three.aws.wo.user.vo.UserVO" />
		<typeAlias alias="OrdersVO" type="three.aws.wo.user.vo.OrdersVO" />
		<typeAlias alias="ReviewsVO" type="three.aws.wo.user.vo.ReviewsVO" />
		<typeAlias alias="StoreVO" type="three.aws.wo.store.vo.StoreVO" />
		<typeAlias alias="StoreKioskVO" type="three.aws.wo.store.vo.StoreKioskVO" />
		<typeAlias alias="StoreMenuVO" type="three.aws.wo.store.vo.StoreMenuVO" />
		<typeAlias alias="StoreMenuGroupVO" type="three.aws.wo.store.vo.StoreMenuGroupVO" />
		<typeAlias alias="StoreMenuOptionVO" type="three.aws.wo.store.vo.StoreMenuOptionVO" />
		<typeAlias alias="FranchiseVO" type="three.aws.wo.store.vo.FranchiseVO" />
		<typeAlias alias="AdminVO" type="three.aws.wo.admin.vo.AdminVO" />
		<typeAlias alias="CouponVO" type="three.aws.wo.admin.vo.CouponVO" />
		<typeAlias alias="FAQStoreVO" type="three.aws.wo.admin.vo.FAQStoreVO" />
		<typeAlias alias="FAQVO" type="three.aws.wo.admin.vo.FAQVO" />
		<typeAlias alias="NoticeVO" type="three.aws.wo.admin.vo.NoticeVO" />
		<typeAlias alias="OptionGroupVO" type="three.aws.wo.admin.vo.OptionGroupVO" />
		<typeAlias alias="QnAVO" type="three.aws.wo.admin.vo.QnAVO" />
		<typeAlias alias="TermsVO" type="three.aws.wo.admin.vo.TermsVO" />
	</typeAliases>
	<mappers> <!-- SQL 명령어들이 저장된 SQL 파일을 등록 -->
		<mapper resource="mappings/user/user-mapping.xml" /> 
		<mapper resource="mappings/admin/adminUser-mapping.xml" /> 
		<mapper resource="mappings/admin/adminStore-mapping.xml" /> 
	</mappers>
</configuration>